.myModale {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}


.myModaleContent {
    padding: 20px;
    min-width: 250px;
    background: white;
    border-radius: 16px;

}
.myModale.active {
    display: flex;
    align-items: center;
    justify-content: center;
}