#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
}

.post {
  display: flex;
  padding: 15px;
  margin-top: 15px;
  border: 2px solid greenyellow;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-align: center;
  margin-top: 15px;
}

.delimiter {
  margin: 15px 0;
}
